@import '../common/css-variables';

.sapphire-blue {
  color: var(--sapphire-blue);
}

#revolutionize-tech {
  .step {
    .title {
      margin: 1px 0 70px;
    }

    .title.large-title {
      margin-bottom: 50px;
    }

    .title.last-title {
      margin-bottom: 0;
    }

    &.current {
      a {
        color: var(--sapphire-blue);
      }

      .number {
        border: 1.5px solid var(--dark-blue);
        background-color: var(--sapphire-blue);
      }

      &:after {
        background-color: var(--dark-blue);
      }

      .timeline-img {
        filter: invert(58%) sepia(52%) saturate(439%) hue-rotate(139deg) brightness(88%)
          contrast(83%);
      }

      .timeline-arrow {
        display: inline;
        width: 50px;
        height: 14px;
        margin-top: 4px;
        margin-right: 1px;
      }
    }
  }

  .main-content {
    flex: 1;
    font-family: var(--font-family-inter);
    position: relative;
    max-height: 75vh;
    overflow-y: auto;
    scroll-behavior: smooth;

    .rt-intro,
    .service-lines,
    .tech-assets,
    .e4r,
    .tech-domain,
    .public-goods {
      padding-right: 1.5%;
    }

    .dpg-image {
      width: 100%;
    }

    .desc {
      font-weight: 300;
      font-size: 15px;
      margin-bottom: 20px;
    }

    .rt-intro {
      .revolution-team {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;

        .image,
        .person {
          width: 140px;
        }

        .last-image {
          width: 280px;
          height: 123.42px;
        }

        .last-person {
          width: 280px;
          height: 123.42px;
          margin-bottom: 10px;
        }

        .name {
          font-weight: 300;
          font-size: 16px;
          margin: 10px 0 5px 0;
        }

        .designation {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }

    .tech-assets-image {
      margin: 10px 0px;
      width: 100%;
    }

    .service-lines {
      .service-lines-image {
        width: 180px;
      }

      .service-content {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
      }
    }

    .section-heading {
      margin-top: 0;
      font-size: 22px;
      font-family: var(--font-family-bitter);
    }

    .learn-more-btn {
      font-weight: bold;
      font-size: 13px;
      margin-top: 20px;
      color: var(--sapphire-blue);
      background-color: transparent;
      border: none;
      padding-left: 0;

      i {
        font-weight: bold;
        font-size: 16px;
        vertical-align: middle;
        margin-bottom: 2px;
      }
    }

    .section-separator {
      border: 1px solid white;
      margin: 50px 0;
    }
  }
}
