@import '../common/css-variables';

.sapphire-blue {
  color: var(--sapphire-blue);
}

#revolutionize-tech {
  .step {
    .title {
      margin: 1px 0 60px;
    }

    .title.large-title {
      margin-bottom: 50px;
    }

    .title.last-title {
      margin-bottom: 0;
    }

    &.completed {
      a {
        color: #666666;
      }

      .number {
        border: 1.5px solid #666666;
        background-color: #666666;
      }

      &:after {
        background-color: #666666;
      }

      .timeline-img {
        filter: invert(39%) sepia(0%) saturate(510%) hue-rotate(167deg) brightness(97%) contrast(80%);
      }
    }

    &.current {
      a {
        color: var(--sapphire-blue);
      }

      .number {
        border: 1.5px solid var(--dark-blue);
        background-color: var(--sapphire-blue);
      }

      &:after {
        background-color: var(--dark-blue);
      }

      .timeline-img {
        filter: invert(58%) sepia(52%) saturate(439%) hue-rotate(139deg) brightness(88%) contrast(83%);
      }

      .timeline-arrow {
        display: inline;
        width: 50px;
        height: 14px;
        margin-top: 4px;
        margin-right: 1px;
      }
    }
  }

  .main-content {
    flex: 1;
    font-family: var(--font-family-inter);
    position: relative;
    max-height: 70vh;
    overflow-y: auto;
    scroll-behavior: smooth;

    .rt-intro,
    .domain-capabilities,
    .service-lines,
    .tech-assets,
    .e4r,
    .public-goods {
      padding-right: 1.5%;
    }

    .domain-image,
    .aadhaar-img,
    .globe-img,
    .dpg-image {
      width: 100%;
    }

    .aadhaar-img {
      margin-left: -24px;
    }

    .globe-img {
      margin: 5px 0;
    }

    .desc {
      font-weight: 500;
      font-size: 15px;
      margin: 5px 0 20px 0;
    }

    .rt-intro {
      .revolution-team {
        width: 97%;
        margin-bottom: 20px;

        .image {
          vertical-align: text-top;
        }

        .name {
          font-weight: 300;
          font-size: 15px;
          margin: 10px 0 5px 0;
          display: flex;
          column-gap: 6px;
          align-items: flex-start;

          p {
            margin: 0;
          }

          span {
            font-weight: 600;
          }
        }
      }
    }

    .pointer {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
      column-gap: 5px;
      align-items: flex-start;
    }

    .pointer-img {
      width: 10px;
      margin-top: 3px;
    }

    .pointer-desc {
      font-size: 13px;
      font-weight: 400;
    }

    .tech-assets-image {
      margin: 10px 0px;
      width: 100%;
    }

    .service-lines {
      .service-lines-image {
        width: 180px;
      }

      .service-content {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
      }
    }

    .section-heading {
      margin-top: 0;
      font-size: 22px;
      font-family: var(--font-family-bitter);
    }

    .sub-heading {
      font-size: 15px;
      font-weight: 600;
    }

    .learn-more-btn {
      font-weight: bold;
      font-size: 13px;
      margin-top: 20px;
      color: var(--wave-blue);
      background-color: transparent;
      border: none;
      padding-left: 0;

      i {
        font-weight: bold;
        font-size: 16px;
        vertical-align: middle;
        margin-bottom: 2px;
      }
    }

    .section-separator {
      border: 1px solid white;
      margin: 50px 0;
    }
  }
}