@import '../common/css-variables';

.sapphire-blue {
  color: var(--sapphire-blue);
}

#revolutionize-tech {

  .step {

    &.completed {
      a {
        color: var(--sapphire-blue);
      }

      .number {
        border: 1.5px solid var(--dark-blue);
        background-color: var(--sapphire-blue);
      }

      &:after {
        background-color: var(--dark-blue);
      }

      .timeline-img {
        filter: invert(58%) sepia(52%) saturate(439%) hue-rotate(139deg) brightness(88%) contrast(83%);
      }

      .timeline-arrow {
        display: inline;
        width: 50px;
        height: 14px;
        margin-top: 4px;
        margin-right: 1px;
      }
    }
  }

  .main-content {
    flex: 1;
    font-family: var(--font-family-inter);
    position: relative;
    max-height: 75vh;
    overflow-y: auto;
  }
}