@import '../common/css-variables';

.flamingo-pink {
  color: var(--flamingo-pink);
}

#positive-social-change {

  .step {

    &.completed {
      a {
        color: var(--flamingo-pink);
      }

      .number {
        border: 1.5px solid var(--dark-blue);
        background-color: var(--flamingo-pink);
      }

      &:after {
        background-color: var(--dark-blue);
      }

      .timeline-img {
        filter: invert(57%) sepia(15%) saturate(6534%) hue-rotate(313deg) brightness(97%) contrast(95%);
      }

      .timeline-arrow {
        display: inline;
        width: 50px;
        height: 14px;
        margin-top: 4px;
        margin-right: 1px;
      }
    }
  }

  .main-content {
    flex: 1;
    font-family: var(--font-family-inter);
    position: relative;
    max-height: 75vh;
    overflow-y: auto;
  }
}