@import '../common/css-variables';

.flamingo-pink {
  color: var(--flamingo-pink);
}

#positive-social-change {
  .step {
    .title {
      margin: 1px 0 100px;
    }

    &.completed {
      a {
        color: #666666;
      }

      .number {
        border: 1.5px solid #666666;
        background-color: #666666;
      }

      &:after {
        background-color: #666666;
      }

      .timeline-img {
        filter: invert(39%) sepia(0%) saturate(510%) hue-rotate(167deg) brightness(97%)
          contrast(80%);
      }
    }

    &.current {
      a {
        color: #000000;
      }

      .number {
        border: 1.5px solid var(--dark-blue);
        background-color: var(--flamingo-pink);
      }

      &:after {
        background-color: var(--dark-blue);
      }

      .timeline-img {
        filter: invert(57%) sepia(15%) saturate(6534%) hue-rotate(313deg) brightness(97%)
          contrast(95%);
      }

      .timeline-arrow {
        display: inline;
        width: 50px;
        height: 14px;
        margin-top: 4px;
        margin-right: 1px;
      }
    }
  }

  .main-content {
    flex: 1;
    font-family: var(--font-family-inter);
    position: relative;
    max-height: 70vh;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .dei-story,
  .bahmni,
  .sc-intro {
    padding-right: 1.5%;
  }

  .content-heading {
    margin: 0;
    font-size: 22px;
    font-family: var(--font-family-bitter);
  }

  .desc {
    font-weight: 400;
    font-size: 15px;
    margin: 5px 0 20px 0;
  }

  .sc-intro {
    .social-team {
      width: 97%;
      margin-bottom: 20px;

      .image {
        vertical-align: text-top;
      }
      .name {
        font-weight: 400;
        font-size: 15px;
        margin: 10px 0 5px 0;

        span {
          font-weight: 500;
        }
      }
    }

    .pointer {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
      column-gap: 5px;
      align-items: flex-start;
    }
    .pointer-img {
      width: 10px;
      margin-top: 3px;
    }
    .pointer-desc {
      font-size: 13px;
      font-weight: 400;
    }
  }
  .learn-more-btn {
    font-weight: bold;
    font-size: 13px;
    margin-top: 20px;
    color: var(--flamingo-pink);
    background-color: transparent;
    border: none;
    padding-left: 0;

    i {
      font-weight: bold;
      font-size: 16px;
      vertical-align: middle;
      margin-bottom: 2px;
    }
  }
  .dei-story {
    .dei-content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .dei-img {
      width: 280px;
    }
  }

  .bahmni {
    .bahmni-desc {
      font-weight: 300;
      font-size: 13px;
    }

    .bahmni-text {
      font-weight: 300;
      font-size: 12px;
    }

    .number {
      width: 15px;
      height: 15px;
      background-color: var(--grey);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 10px;
    }

    .pointer {
      display: flex;
      align-items: center;
    }

    .pointer-text {
      font-weight: 300;
      font-size: 12px;
      margin: 5px;
    }

    .pointer-link {
      color: var(--flamingo-pink);
      text-decoration: none;
    }

    .bahmni-img {
      width: 570px;
      margin-top: 20px;
    }

    .bahmni-data-img {
      width: 570px;
      margin-top: 12px;
    }
  }
}
