@import '../common/css-variables';

.jade-green {
  color: var(--jade-green);
}

#vibrant-community {
  .step {
    .title {
      margin: 1px 0 70px;
    }

    .title.large-title {
      margin-bottom: 50px;
    }

    .title-list {
      list-style-type: circle;
      position: absolute;
      top: 20px;
      left: 6px;

      li {
        margin: 6px;
        font-family: var(--font-family-inter);
        font-size: 14px;
        color: var(--grey);
        font-weight: 400;
      }
    }

    .title.last-title {
      margin-bottom: 0;
    }

    &.current {
      a {
        color: var(--jade-green);
      }

      .number {
        border: 1.5px solid var(--dark-blue);
        background-color: var(--jade-green);
      }

      &:after {
        background-color: var(--dark-blue);
      }

      .timeline-img {
        filter: invert(57%) sepia(22%) saturate(500%) hue-rotate(83deg) brightness(95%)
          contrast(97%);
      }

      .timeline-arrow {
        display: inline;
        width: 50px;
        height: 14px;
        margin-top: 4px;
        margin-right: 1px;
      }
    }
  }

  .main-content {
    flex: 1;
    font-family: var(--font-family-inter);
    position: relative;
    max-height: 75vh;
    overflow-y: auto;
  }
}
