@import './variables';
@import './mixins';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-body-background);
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

// Screen 1
#screen1 {
  --spacer-app: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacer-app);
  height: 100%;
}

.why-container {
  background-color: #003d50;
  opacity: 0.8;
  background-image: radial-gradient(#084c61 2px, #003d50 2px);
  background-size: 40px 40px;
  justify-content: center;
  display: grid;
  align-content: center;
}

.wheel-container {
  height: var(--wheel-size);
  width: var(--wheel-size);
  background: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow-app);
}

.cone1 {
  @extend %each-why-section;
  transform: skew(18deg);
  background: #6b9e78;

  span {
    right: 51px;
    bottom: 86px;
    width: 130px;
    transform: skew(-18deg);
  }
}

.cone2 {
  @extend %each-why-section;
  background: #46a1ad;
  transform: rotate(72deg) skew(18deg);
  width: 325px;

  span {
    right: 41px;
    bottom: 67px;
    transform: rotate(-57deg) skew(14deg);
    width: 184px;
  }
}

.cone3 {
  @extend %each-why-section;
  background: #634f7d;
  transform: rotate(144deg) skew(18deg);

  span {
    bottom: 65px;
    transform: rotate(225deg);
    width: 160px;
    right: 26px;
  }
}

.cone4 {
  @extend %each-why-section;
  background: #f2607a;
  transform: rotate(216deg) skew(18deg);
}

.cone5 {
  @extend %each-why-section;
  background: #cc8508;
  transform: rotate(-72deg) skew(18deg);
}
