#screen1 {
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: var(--wave-blue);
  background-image: url('../src/images/screen1-bg.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.know-more {
  justify-self: center;
  align-self: center;
  padding-left: 100px;
}

.start-text {
  color: var(--flamingo-pink);
  font-size: 30px;
  position: relative;
  font-family: var(--font-family-inter);
  margin-right: -100px;

  span {
    color: white;
    display: block;
    font-size: 48px;
    margin: 25px 0;
    font-family: var(--font-family-bitter);
    font-weight: bold;
  }
  .description {
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 300;
  }
}

.play-video {
  width: 183px;
  height: 53px;
  text-align: left;
  font: normal normal bold 20px/28px Inter;
  letter-spacing: 0px;
  color: #ffffff;
  background: var(--flamingo-pink);
  opacity: 1;
  border: 0;
  padding-left: 20px;
}

.why-container {
  position: relative;
}

.backgruond-dots {
  position: absolute;
  max-width: 150%;
  max-height: 150%;
  opacity: 0.1;
  left: -25%;
  top: -25%;
}

.wheel-container {
  position: relative;
  bottom: -10px;
}

.background-image {
  width: 100%;
  opacity: 0.1;
}

.skeleton-container {
  position: absolute;
  z-index: 1;
  width: 64%;
  height: 79%;
  top: 49.4%;
  left: 51.6%;

  margin-left: auto;
  margin-right: auto;

  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.skeleton {
  position: relative;
  width: 107%;
  height: 107%;
  margin-left: -4%;
}

.lenses-core {
  position: absolute;
  z-index: 2;
  width: 49%;
  left: 30%;
}

.skeleton-inner-container {
  display: flex;
}

.lense-positiveSocialChange {
  position: absolute;
  z-index: 3;
  width: 42%;
  height: 29%;
  left: 52%;
  top: 14%;
}

.lense-revolutionizeTech {
  position: absolute;
  z-index: 3;
  width: 42%;
  height: 29%;
  left: 6%;
  top: 14%;
}

.lense-commercialSuccess {
  position: absolute;
  z-index: 3;
  width: 61.5%;
  height: 39%;
  left: 50%;
  top: 40%;
}

.lense-vibrantCommunity {
  position: absolute;
  z-index: 3;
  width: 50%;
  height: 38%;
  left: 25%;
  top: 57%;
}

.lense-awesomePartner {
  position: absolute;
  z-index: 3;
  width: 49%;
  height: 38%;
  left: -8%;
  top: 40.2%;
}

.video-area {
  display: none;
  justify-content: center;
  align-items: center;
}

.play-area {
  justify-content: center;
  color: #ffffff;
}

#close-video {
  color: white;
  cursor: pointer;
}

.lense-commercialSuccess-back,
.lense-revolutionizeTech-back,
.lense-awesomePartner-back,
.lense-vibrantCommunity-back,
.lense-positiveSocialChange-back {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 93%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  background-color: #ffffff;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 19px;
  align-items: center;
}

.tw-logo-wrapper {
  display: flex;
  align-items: center;
}

.tw-logo {
  width: 206px;
  height: 33px;
  margin-left: 20px;
  margin-top: 20px;
}

.nav-0,
.nav-1,
.nav-2,
.nav-3,
.nav-4,
.nav-5 {
  display: flex;
  justify-content: center;
  color: #003d4f;
  font-family: var(--font-family-inter);
  font-size: 14px;
  font-weight: 600;
  width: 20%;
  padding: 10px;
  align-items: center;
}

.nav-0 {
  width: 98px;
}

.nav-1 {
}

.nav-2 {
  width: 224px;
}

.nav-3 {
}

.nav-4 {
  width: 187px;
}

.nav-5 {
  width: 240px;
}
