@import '../common/css-variables';

.tumeric-yellow {
  color: var(--tumeric-yellow);
}

#commercial-success {
  display: none;
  background-color: #ecf1f3;
  padding-top: 10px;
  height: calc(100vh - 120px);

  .back-button {
    background-color: #ffffff;
    width: 6%;
    text-align: right;
    padding: 5px;
    border-radius: 0 50px 50px 0;
    display: inline-block;
    vertical-align: middle;
  }
  .back-icon {
    width: 65%;
    margin-bottom: -3px;
  }
  .back-label {
    color: var(--wave-blue);
    font-weight: 500;
    padding-left: 10px;
  }

  .container {
    display: flex;
    padding: 0 5%;
    padding-top: 20px;
  }

  .description {
    width: 21.4%;
    p {
      font-family: var(--font-family-inter);
      font-size: 15px;
    }
    p:first-of-type {
      font-weight: 500;
    }
    p:last-of-type {
      font-weight: 300;
    }
    .description-image {
      width: 40%;
    }
  }

  .timeline {
    width: 23%;
  }

  .main-content {
    flex: 1;
    font-family: var(--font-family-inter);
    position: relative;
    max-height: 75vh;
    overflow-y: auto;

    .content-heading {
      margin-top: 0;
      font-size: 24px;
      font-family: var(--font-family-bitter);
    }
    .journey-description {
      width: 50%;
      font-weight: 500;
      font-size: 16px;
    }
    table {
      border-spacing: 0 10px;
    }
    .table-number {
      color: var(--wave-blue);
      font-weight: bold;
      font-size: 18px;
      border-right: 1px solid #bababa;
      padding-right: 10px;
    }
    .table-text {
      padding-left: 10px;
      font-size: 14px;
      font-weight: 300;
    }
    .tw-offices-map {
      position: absolute;
      right: 0;
      top: 0;
      width: 53%;
    }
    .capabilities-heading,
    .awards-heading {
      font-weight: 600;
      font-size: 18px;
      padding-top: 15px;
      margin-bottom: 10px;
    }
    .capabilities-text,
    .history-text {
      font-weight: 300;
      font-size: 15px;
    }
    .awards-img {
      width: 97%;
    }
    .history-heading {
      font-weight: bold;
      font-size: 22px;
      padding-top: 15px;
      font-family: var(--font-family-bitter);
      margin-bottom: 10px;
    }
    .history-button {
      background-color: var(--wave-blue);
      color: white;
      border: none;
      font-size: 14px;
      padding: 6px 12px;
      font-weight: 300;
      margin-top: 5px;
      i {
        font-size: 24px;
        vertical-align: middle;
        margin-bottom: 5px;
      }
    }
    .section-separator {
      border: 1px solid white;
      margin: 50px 0;
    }
  }
}
