.journey-popup,
.growth-popup,
.e4r-popup {
  background-color: white;
  position: absolute;
  width: 95%;
  height: 77vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 5;

  .close-icon {
    position: absolute;
    top: -7px;
    right: -7px;
  }
  .arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--mist-gray);
    padding: 7px 15px;
    border-radius: 50%;
    font-size: larger;
    border: none;
    cursor: pointer;
  }
  .left-arrow {
    left: 30px;
  }
  .right-arrow {
    right: 30px;
  }
  .enable {
    background-color: var(--tumeric-yellow);
    color: white;
  }
  .popup-heading {
    margin-top: 0;
    font-size: 22px;
    font-family: var(--font-family-bitter);
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 9%;
  }
  .popup-content {
    overflow: hidden;
    width: 100%;
    height: 75vh;
  }
  .popup-growth-content{
    padding-top: 25px;
    padding-left: 7%;
  }
  .growth-heading{
    font-size: 22px;
    font-family: var(--font-family-bitter);
    margin: 10px 0px;
  }
  .sub-heading {
    font-family: var(--font-family-inter);
    font-size: 15px;
    font-weight: 600;
    width: 90%;
  }
  .popup-text {
    font-family: var(--font-family-inter);
    font-size: 15px;
    font-weight: 300;
    margin: 0  0 10px;
    width: 95%;
  }
  .twi-growth-img {
    max-width: 150px;
    height: 35px;
  }
}

.journey-popup {
  .journey-images {
    width: 200%;
    height: 70vh;
    display: flex;
    padding: 25px 7.2%;
    transition: 0.5s;
  }
  .journey-img-1,
  .journey-img-2 {
    height: 57.5vh;
  }
}

.e4r-popup {
  .popup-content {
    height: 77vh;
  }
  .e4r-images {
    width: 200%;
    height: 72vh;
    display: flex;
    justify-content: space-between;
    padding: 0 13% 0 8.3%;
    transition: 0.5s;
  }
  .e4r-img-1,
  .e4r-img-2 {
    height: 70vh;
  }
}
