.healthcare-domain-popup {
  background-color: white;
  position: absolute;
  width: 95%;
  height: 77vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 5;

  .close-icon {
    position: absolute;
    top: -7px;
    right: -7px;
  }
  .arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--mist-gray);
    padding: 7px 15px;
    border-radius: 50%;
    font-size: larger;
    border: none;
    cursor: pointer;
  }
  .left-arrow {
    left: 30px;
  }
  .right-arrow {
    right: 30px;
  }
  .enable {
    background-color: var(--tumeric-yellow);
    color: white;
  }
  .popup-content {
    overflow: hidden;
    width: 100%;
    height: 77vh;
  }

  .healthcare-domain-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex: none;
    width: 100%;
    height: 77vh;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 30px;
    scroll-behavior: smooth;
  }
  .healthcare-domain-images > img {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
    height: 77vh;
  }
}
