.dei-popup,
.marketing-popup,
.operational-metrics-popup,
.healthcare-domain-popup,
.retail-domain-popup {
  background-color: white;
  position: absolute;
  width: 95%;
  height: 77vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 5;

  .close-icon {
    position: absolute;
    top: -7px;
    right: -7px;
    transform: translateZ(50px);
  }
  .arrows {
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: translateZ(50px);
    background-color: var(--mist-gray);
    padding: 7px 15px;
    border-radius: 50%;
    font-size: larger;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }
  .left-arrow {
    left: 30px;
  }
  .right-arrow {
    right: 30px;
  }
  .enable {
    background-color: var(--tumeric-yellow);
    color: white;
  }
  .popup-content {
    overflow: hidden;
    width: 100%;
    height: 77vh;
  }

  .dei-images,
  .marketing-images,
  .healthcare-domain-images,
  .operational-metrics-images,
  .retail-domain-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex: none;
    width: 100%;
    height: 77vh;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 30px;
    scroll-behavior: smooth;
  }
  .operational-metrics-images,
  .marketing-images {
    margin-top: 15px;
  }
  .retail-domain-images {
    margin-top: 20px;
  }
  .dei-images > img,
  .marketing-images > img,
  .operational-metrics-images > img,
  .healthcare-domain-images > img,
  .retail-domain-images > img {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
    height: 77vh;
  }
  .dei-images > img,
  .marketing-images > img,
  .operational-metrics-images > img,
  .retail-domain-images > img {
    height: 74vh;
  }
}

.dei-popup {
  .enable {
    background-color: var(--flamingo-pink);
    color: white;
  }
}
