.journey-popup,
.growth-popup,
.unique-popup {
  background-color: white;
  position: absolute;
  width: 95%;
  height: 77vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 5;

  .close-icon {
    position: absolute;
    top: -7px;
    right: -7px;
  }
  .arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--mist-gray);
    padding: 7px 15px;
    border-radius: 50%;
    font-size: larger;
    border: none;
    cursor: pointer;
  }
  .left-arrow {
    left: 30px;
  }
  .right-arrow {
    right: 30px;
  }
  .enable {
    background-color: var(--tumeric-yellow);
    color: white;
  }
  .popup-heading {
    margin-top: 0;
    font-size: 22px;
    font-family: var(--font-family-bitter);
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 9%;
  }
  .popup-content {
    overflow: hidden;
    width: 100%;
  }

  .popup-growth-content {
    padding-top: 25px;
    padding-left: 7%;
  }
  .growth-heading {
    font-size: 22px;
    font-family: var(--font-family-bitter);
    margin: 10px 0px;
  }
  .sub-heading {
    font-family: var(--font-family-inter);
    font-size: 15px;
    font-weight: 600;
    width: 90%;
  }
  .popup-text {
    font-family: var(--font-family-inter);
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 10px;
    width: 95%;
  }
  .twi-growth-img {
    max-width: 150px;
    height: 35px;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.journey-popup {
  .journey-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex: none;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 30px;
    scroll-behavior: smooth;
  }
  .journey-images > img {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
  }
}

.e4r-popup {
  .popup-content {
    height: 77vh;
  }
  .e4r-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex: none;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 30px;
    scroll-behavior: smooth;
  }
  .e4r-images > img {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
    height: 72vh;
  }
  .e4r-img-1 {
    margin-left: -25px;
  }
  .popup-heading {
    padding-bottom: 0;
  }
}

.unique-popup {
  .gdo-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex: none;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 30px;
    scroll-behavior: smooth;
  }
  .gdo-images > img {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
    height: 71vh;
  }
  .gic-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex: none;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 30px;
    scroll-behavior: smooth;
  }
  .gic-images > img {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
  }
  .lenovo-img {
    width: 88%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .trainline-img {
    width: 96%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .citi-img,
  .talent-img {
    width: 93%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
