.journey-popup,
.bahmni-popup,
.dpg-popup,
.gic-popup,
.gdo-popup,
.cloud-partnerships-popup,
.e4r-popup,
.tech-trends-popup,
.growth-popup,
.unique-popup {
  background-color: white;
  position: absolute;
  width: 95%;
  height: 77vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 5;

  .close-icon {
    position: absolute;
    top: -7px;
    right: -7px;
    transform: translateZ(50px);
    z-index: 999;
  }

  .arrows {
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: translateZ(50px);
    background-color: var(--mist-gray);
    padding: 7px 15px;
    border-radius: 50%;
    font-size: larger;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }

  .left-arrow {
    left: 30px;
  }

  .right-arrow {
    right: 30px;
  }

  .enable {
    background-color: var(--tumeric-yellow);
    color: white;
  }

  .popup-heading {
    margin-top: 0;
    font-size: 22px;
    font-family: var(--font-family-bitter);
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 9%;
  }

  .popup-content {
    overflow: hidden;
    width: 100%;
  }

  .popup-growth-content {
    padding-top: 25px;
    padding-left: 7%;
  }

  .popup-growth-content-2 {
    text-align: center;
    position: relative;
  }

  .popup-growth-content-2 > img {
    height: 75vh;
    margin-top: 1vh;
  }

  .axis-graph,
  .idfc-graph,
  .falabella-graph {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .growth-heading {
    font-size: 22px;
    font-family: var(--font-family-bitter);
    margin: 10px 0px;
  }

  .sub-heading {
    font-family: var(--font-family-inter);
    font-size: 15px;
    font-weight: 600;
    width: 90%;
  }

  .popup-text {
    font-family: var(--font-family-inter);
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 10px;
    width: 95%;
  }

  .twi-growth-img {
    max-width: 150px;
    height: 35px;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.bahmni-popup {
  .enable {
    background-color: var(--flamingo-pink);
    color: white;
  }

  .bahmni-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex: none;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 20px;
    scroll-behavior: smooth;
  }

  .bahmni-images > div {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
    text-align: center;
  }

  .bahmni-images > div > img {
    height: 77vh;
  }
}

.gic-popup,
.tech-trends-popup,
.e4r-popup,
.gdo-popup,
.dpg-popup {
  .enable {
    background-color: var(--sapphire-blue);
    color: white;
  }

  .gic-images,
  .tech-trends-images,
  .e4r-images,
  .gdo-images,
  .dpg-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex: none;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 20px;
    scroll-behavior: smooth;
  }

  .dpg-images > div,
  .tech-trends-images > div,
  .e4r-images > div,
  .gdo-images > div,
  .gic-images > div {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
    text-align: center;
  }

  .e4r-images > div {
    text-align: left;
  }

  .dpg-images > div > img,
  .gdo-images > div > img {
    height: 77vh;
  }

  .gic-images > div > img {
    height: 74vh;
  }
  .e4r-images > div > img {
    height: 81vh;
  }

  .tech-trends-images > div > img {
    height: 72vh;
  }
}

.cloud-partnerships-popup {
  .enable {
    background-color: var(--amethyst-purple);
    color: white;
  }

  .cloud-partnerships-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex: none;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 15px;
    scroll-behavior: smooth;
  }

  .cloud-partnerships-images > img {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
  }
}

.journey-popup {
  .journey-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex: none;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 30px;
    scroll-behavior: smooth;
  }

  .journey-images > img {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
  }
}

.growth-popup {
  .growth-content {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex: none;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .growth-content > div {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
    height: 77vh;
  }
}
