@import '../common/css-variables';

.amethyst-purple {
  color: var(--amethyst-purple);
}

.grey {
  color: var(--grey);
}

#awesome-partner {
  .step {
    .title {
      margin: 1px 0 70px;
    }

    .title.last-title {
      margin-bottom: 0;
    }

    &.current {
      a {
        color: var(--amethyst-purple);
      }

      .number {
        border: 1.5px solid var(--dark-blue);
        background-color: var(--amethyst-purple);
      }

      &:after {
        background-color: var(--dark-blue);
      }

      .timeline-img {
        filter: invert(36%) sepia(8%) saturate(2469%) hue-rotate(224deg) brightness(85%) contrast(87%);
      }

      .timeline-arrow {
        display: inline;
        width: 50px;
        height: 14px;
        margin-top: 4px;
        margin-right: 1px;
      }
    }
  }

  .main-content {
    flex: 1;
    font-family: var(--font-family-inter);
    position: relative;
    max-height: 70vh;
    overflow-y: auto;
    scroll-behavior: smooth;

    .cultivation,
    .large-relationships,
    .client-portfolio,
    .ap-intro {
      padding-right: 1.5%;
    }

    .content-heading {
      margin: 0;
      font-size: 22px;
      font-family: var(--font-family-bitter);
    }

    .desc {
      font-weight: 400;
      font-size: 14px;
      margin: 5px 0 20px 0;
    }

    .cultivation,
    .large-relationships,
    .client-portfolio,
    .ap-intro {
      .awesome-team {
        width: 97%;
        margin-bottom: 20px;

        .image {
          vertical-align: text-top;
        }

        .name {
          font-weight: 300;
          font-size: 15px;
          margin: 10px 0 5px 0;

          span {
            font-weight: 600;
          }
        }
      }

      .pointer {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        column-gap: 5px;
        align-items: flex-start;
      }

      .pointer-img {
        width: 10px;
        margin-top: 3px;
      }

      .pointer-desc {
        font-size: 13px;
        font-weight: 300;
      }
    }

    .number {
      width: 22px;
      height: 22px;
      background-color: var(--amethyst-purple);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 14px;
      font-weight: 600;
    }

    .number-pointer {
      display: flex;
      column-gap: 8px;
    }

    .pointer-text {
      font-weight: 300;
      font-size: 14px;
      margin: 0 0 15px 0;
    }

    .cloud-img {
      width: 98%;
      margin-bottom: 20px;
    }

    .cultivation,
    .cloud-partnerships,
    .large-relationships,
    .client-portfolio {
      .client-img {
        width: 580px;
        margin-top: 10px;
      }

      .learn-more-btn {
        font-weight: bold;
        font-size: 13px;
        margin-top: 20px;
        color: var(--wave-blue);
        background-color: transparent;
        border: none;
        padding-left: 0;

        i {
          font-weight: bold;
          font-size: 16px;
          vertical-align: middle;
          margin-bottom: 2px;
        }
      }
    }
  }
}