@import '../common/css-variables';

.amethyst-purple {
  color: var(--amethyst-purple);
}

#awesome-partner {

  .step {

    &.completed {
      a {
        color: var(--amethyst-purple);
      }

      .number {
        border: 1.5px solid var(--dark-blue);
        background-color: var(--amethyst-purple);
      }

      &:after {
        background-color: var(--dark-blue);
      }

      .timeline-img {
        filter: invert(36%) sepia(8%) saturate(2469%) hue-rotate(224deg) brightness(85%) contrast(87%);
      }

      .timeline-arrow {
        display: inline;
        width: 50px;
        height: 14px;
        margin-top: 4px;
        margin-right: 1px;
      }
    }
  }

  .main-content {
    flex: 1;
    font-family: var(--font-family-inter);
    position: relative;
    max-height: 75vh;
    overflow-y: auto;
  }
}